*{
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
}
body { 
    background-color:  rgb(24 22 38 / var(--tw-bg-opacity));
}
body::-webkit-scrollbar{
    background-color: #181626;
    width:0.3em;
    height: 0.3em;
}
body::-webkit-scrollbar-thumb{
    background-color: inherit;
}